@page "/"

<div class="control_wrapper">
    <SfMultiSelect TItem="MultiSelectDropdownDataModel" TValue="string[]" PopupHeight="450px" PopupWidth="250px"
                   DataSource="@MultiSelectDropdownListData" Placeholder="Select a vegetable" 
                   AllowFiltering="true" IgnoreCase="false"
                   FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
        <MultiSelectFieldSettings Value="Id" Text="Vegetable"
                                  GroupBy="Category"></MultiSelectFieldSettings>
    </SfMultiSelect>
</div>

@code{

    public class MultiSelectDropdownDataModel
    {
        public string Id { get; set; }
        public string Vegetable { get; set; }
        public string Category { get; set; }
    }

    List<MultiSelectDropdownDataModel> MultiSelectDropdownListData = new List<MultiSelectDropdownDataModel>()
    {
        new MultiSelectDropdownDataModel() {  Id = "item1", Vegetable = "Cabbage", Category = "Leafy and Salad" },
        new MultiSelectDropdownDataModel() {  Id = "item2", Vegetable = "Chickpea", Category = "Beans" },
        new MultiSelectDropdownDataModel() {  Id = "item3", Vegetable = "Garlic", Category = "Bulb and Stem" },
        new MultiSelectDropdownDataModel() {  Id = "item4", Vegetable = "Green bean", Category = "Beans" },
        new MultiSelectDropdownDataModel() {  Id = "item5", Vegetable = "Horse gram", Category = "Beans" },
        new MultiSelectDropdownDataModel() {  Id = "item6", Vegetable = "Onion", Category = "Bulb and Stem" },
        new MultiSelectDropdownDataModel() {  Id = "item7", Vegetable = "Pumpkins", Category = "Leafy and Salad" },
        new MultiSelectDropdownDataModel() {  Id = "item8", Vegetable = "Spinach", Category = "Leafy and Salad" },
        new MultiSelectDropdownDataModel() {  Id = "item9", Vegetable = "Wheat grass", Category = "Leafy and Salad" },
        new MultiSelectDropdownDataModel() {  Id = "item10", Vegetable = "Yarrow", Category = "Leafy and Salad" }
    };

}






<style>
    .control_wrapper {
        width: 250px;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
</style>